In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [36]:
df = pd.read_csv('50_Startups.csv').round()

In [38]:
df.head(3)

   R&D Spend  Administration  Marketing Spend       State    Profit
0   165349.0        136898.0         471784.0    New York  192262.0
1   162598.0        151378.0         443899.0  California  191792.0
2   153442.0        101146.0         407935.0     Florida  191050.0

#### Division into dependent and independent variables
#### Here Profit is dependent variable and R&D, Admistration and Marketing Spend are independent variables.

#### Lets keep all columns except last one as X and last column as Y.

In [45]:
X = df.iloc[:, :-1]
Y = df.iloc[:, 4]

In [44]:
Y.head(10)

0    192262.0
1    191792.0
2    191050.0
3    182902.0
4    166188.0
5    156991.0
6    156123.0
7    155753.0
8    152212.0
9    149760.0
Name: Profit, dtype: float64

#### Convert the state column into categorical columns

In [48]:
states=pd.get_dummies(X['State'],drop_first=True)
states.head(2)

   Florida  New York
0        0         1
1        0         0

#### Now drop the state coulmn.

In [49]:
X=X.drop('State',axis=1)

#### concat the dummy variables

In [50]:
X=pd.concat([X,states],axis=1)

In [51]:
X.head(3)

   R&D Spend  Administration  Marketing Spend  Florida  New York
0   165349.0        136898.0         471784.0        0         1
1   162598.0        151378.0         443899.0        0         0
2   153442.0        101146.0         407935.0        1         0